<launch>

<!-- now with good parameters from nursing home test-->

<arg name="scan_topic" default ="/scan_wcr_ranged" />
<arg name="base_frame" default ="base_link" />
<arg name="odom_frame" default ="odom" />
<arg name="map_name" default ="map_karto" />

<!--
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher2"></node>
<node pkg="rviz" type="rviz" name="rviz"></node> -->

<node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="throttle_scans" value="1" />
    <param name="resolution" value="0.05"/>
    <param name="maxRange" value="7.0"/>
    <param name="map" value="map_karto"/>
    <param name="transform_publisher_period" value="0.08" />
    <param name="use_scan_barycenter" value="true" />
    <param name="use_scan_matching" value="true" />
    <param name="minimum_travel_distance" value="0.2" />
    <param name="minimum_travel_heading" value="deg2rad(10)" />
    <param name="scan_buffer_size" value="2500" />
    <param name="scan_bufffer_maximum_scan_distance" value="600" />
    <param name="link_match_minimum_response_fine" value="0.85" />
    <param name="link_scan_maximum_distance" value="6" />
    <param name="loop_search_maximum_distance" value="20" />
    <param name="do_loop_closing" value="true" />
    <param name="loop_match_minimum_chain_size" value="5" />
    <param name="loop_match_maximum_variance_coarse" value="sqrt(10.0)" />
    <param name="loop_match_minimum_response_coarse" value="0.01" />
    <param name="loop_match_minimum_response_fine" value="0.02" />
    <param name="correlation_search_space_dimension" value="0.3" />
    <param name="correlation_search_space_resolution" value="0.01" />
    <param name="correlation_search_space_smear_deviation" value="0.03" />
    <param name="loop_search_space_dimension" value="18.0" />
    <param name="loop_search_space_resolution" value="0.1" />
    <param name="loop_search_space_smear_deviation" value="0.1" />
    <param name="distance_variance_penalty" value="sqrt(0.35)" />
    <param name="angle_variance_penalty" value="sqrt(deg2rad(21))" />
    <param name="fine_search_angle_offset" value="deg2rad(0.5)" />
    <param name="coarse_search_angle_offset" value="deg2rad(25.0)" />
    <param name="coarse_angle_resolution" value="deg2rad(2.5)" />
    <param name="minimum_angle_penalty" value="0.8" />
    <param name="minimum_distance_penalty" value="0.45" />
    <param name="use_response_expansion" value="false" />


    
    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_name)"/>
  </node>

<!--
Also we need an median filter with width 3 on scan_wcr_ranged, this parameter also work for the other bag for the (first ) half. MEDIAN FILTER HELPS-->

</launch>
