<launch>

<node pkg="rplidar_ros" type="rplidarNode" name="rplidar_front">
<param name="frame_id" value="laser_frame_front" />
<remap from="scan" to="/scan_front_lidar" />
<param name="serial_port" value="/dev/ttyUSB0" />
<param name="serial_baudrate"     type="int"    value="115200"/>
<param name="inverted"            type="bool"   value="false"/>
<param name="angle_compensate"    type="bool"   value="true"/>
<param name="scan_mode"    type="string"   value="Standard"/>
</node>

<arg name="node_start_delay" default="2.0" />  

<node pkg="rplidar_ros" type="rplidarNode" name="rplidar_back">
<param name="frame_id" value="laser_frame_back" />
<remap from="scan" to="/scan_back_lidar" />
<param name="serial_port" value="/dev/ttyUSB1" />
<param name="serial_baudrate"     type="int"    value="115200"/>
<param name="inverted"            type="bool"   value="false"/>
<param name="angle_compensate"    type="bool"   value="true"/>
<param name="scan_mode"    type="string"   value="Standard"/>
</node>


<include file="$(find lidar-filtering)/launch-files/real_robot_laser_cutter.launch"/>

<arg name="node_start_delay_again" default="1.0" />  

<include file="$(find lidar-filtering)/launch-files/real_wcr_lidar_merging.launch"/>

</launch>