<launch> 
  <?Connection between Arduino and PC?>
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>
  
  <?Calculating Odom from Encoder data?>
  <node pkg="odometry" type="odometry_encoder.py" name="odometry_encoder_node" >
    <rosparam param="pose_covariance">[0.1,0,0,0,0,0,  0,0.1,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0.1] </rosparam>
    <rosparam param="twist_covariance">[0.2,0,0,0,0,0,  0,0.2,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0.2] </rosparam>
  </node>
  
  <?Setting imu odom together from multiple topics (->arduino can send faster)?>
  <node pkg="odometry" type="imu_data.py" name="odometry_imu_node" >
    <rosparam param="orientation_covariance">[0.2,0.,0.,  0.,0.2,0.,  0.,0.,0.2]</rosparam>
    <rosparam param="gyro_covariance">[0.8,0.,0.,  0.,0.8,0.,  0.,0.,0.8]</rosparam>
    <rosparam param="accel_covariance">[0.5,0.,0.,  0.,0.5,0.,  0.,0.,0.5]</rosparam>
  </node>
  
  <?Geting movement rigth between analog Joystick to Velocity?>
  <?the lower the value for speed the faster the wheelchair goes?>
  <?node pkg="odometry" type="movement_joystick.py" name="movement_joystick" >
    <param name="speed" type="int" value="70" /> 
    <param name="deadzone" type="int" value="50" />
  </node?>
  
  <?Sensorfusion over Kalman Filter?>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find odometry)/params/ekf_template.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to="odom"/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  
  <?changes PoseWithCovarianceStamped msg to Odometry msg?>  
  <node pkg="odometry" type="amcl_to_odom.py" name="odometry_amcl_node" />
  
  <arg name="map_file" default="$(find odometry)/map/labor.yaml"/>
</launch>
