<launch> 
  <?Connection between Arduino and PC?>
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>
  
  <?Calculating Odom from Encoder data?>
  <node pkg="odometry" type="odometry_encoder.py" name="odometry_encoder_node" >
    <rosparam param="pose_covariance">[0.1,0,0,0,0,0,  0,0.1,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0.1] </rosparam>
    <rosparam param="twist_covariance">[0.2,0,0,0,0,0,  0,0.2,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0,  0,0,0,0,0,0.2] </rosparam>
  </node>
  
  <?Setting imu odom together from multiple topics (->arduino can send faster)?>
  <node pkg="odometry" type="imu_data.py" name="odometry_imu_node" >
    <rosparam param="orientation_covariance">[0.2,0.,0.,  0.,0.2,0.,  0.,0.,0.2]</rosparam>
    <rosparam param="gyro_covariance">[0.8,0.,0.,  0.,0.8,0.,  0.,0.,0.8]</rosparam>
    <rosparam param="accel_covariance">[0.5,0.,0.,  0.,0.5,0.,  0.,0.,0.5]</rosparam>
  </node>
  
  <?Geting movement rigth between analog Joystick to Velocity?>
  <?the lower the value for speed the faster the wheelchair goes?>
  <?node pkg="odometry" type="movement_joystick.py" name="movement_joystick" >
    <param name="speed" type="int" value="70" /> 
    <param name="deadzone" type="int" value="50" />
  </node?>
  
  <?Sensorfusion over Kalman Filter?>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find odometry)/params/ekf_template.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to="odom"/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  
  <?changes PoseWithCovarianceStamped msg to Odometry msg?>  
  <node pkg="odometry" type="amcl_to_odom.py" name="odometry_amcl_node" />
  
  <arg name="map_file" default="$(find odometry)/map/labor.yaml"/>
  
   <!-- Map server -->
  <?node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- Arguments -->
  <arg name="scan_topic"     default="front_scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">

    <param name="min_particles"             value="1000"/>
    <param name="max_particles"             value="20000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="initial_cov_xx"            value="10.5"/>
    <param name="initial_cov_yy"            value="10.5"/>
    <param name="initial_cov_aa"            value="3.14"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <remap from="scan"                      to="front_scan"/>
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="270"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_model_type"           value="omni"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_link"/>

  </node?>
  
</launch>
